@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

$pink: #C92071;
$white: #fff;
$darkgray: #474747;
$gray: #F5F5F5;
$bitgray: #ffffff49;
$bitblack: #1F1F1F;

* {
    font-family: 'Inter', sans-serif;
}